body
{
    background-color: cornflowerblue;
    padding: 70px 400px

}
.content{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    align-items: center;
}
.inp-email
{
    width: 70%;
    height: 50px;
    border-radius: 30px;
    font-size: 16px;
    padding-left: 15px;
}
.inp-pass
{
    width: 70%;
    height: 50px;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 20px;
    padding-left: 15px;
}
.check{
   margin-right: 200px;
   margin-top: 10px;
}
.btn-signin{
    margin-top: 10px;
    width: 75%;
    height: 50px;
    border-radius: 30px;
    font-size: 16px;
    background-color: cornflowerblue;
    border: none;
    color: white;
    font-weight: bold;
}
.btn-signin-google
{
    margin-top: 10px;
    width: 75%;
    height: 50px;
    border-radius: 30px;
    font-size: 16px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
}
.btn-signin-face{
    margin-top: 10px;
    width: 75%;
    height: 50px;
    border-radius: 30px;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
    background-color: darkslateblue;
    border: none;
}